<app-header></app-header>
<div class="body_container">
    <div class="container">
        <div class="main_login">
            <main>
                <div class="grid-members">
                    <div class="grid-item">
                        <img src="https://didongthongminh.vn/modules/members/assets/images/log.svg" alt="log" class="img-responsive">
                        <p>Quyền lợi thành viên</p>
                        <ul>
                            <li>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6663 7.38668V8.00001C14.6655 9.43763 14.2 10.8365 13.3392 11.9879C12.4785 13.1393 11.2685 13.9817 9.88991 14.3893C8.51129 14.7969 7.03785 14.7479 5.68932 14.2497C4.3408 13.7515 3.18944 12.8307 2.40698 11.6247C1.62452 10.4187 1.25287 8.99205 1.34746 7.55755C1.44205 6.12305 1.99781 4.75756 2.93186 3.66473C3.86591 2.57189 5.1282 1.81027 6.53047 1.49344C7.93274 1.17662 9.39985 1.32157 10.713 1.90668" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M14.6667 2.66669L8 9.34002L6 7.34002" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                Mua hàng khắp thế giới cực dễ dàng, nhanh chóng
                            </li>
                            <li>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6663 7.38668V8.00001C14.6655 9.43763 14.2 10.8365 13.3392 11.9879C12.4785 13.1393 11.2685 13.9817 9.88991 14.3893C8.51129 14.7969 7.03785 14.7479 5.68932 14.2497C4.3408 13.7515 3.18944 12.8307 2.40698 11.6247C1.62452 10.4187 1.25287 8.99205 1.34746 7.55755C1.44205 6.12305 1.99781 4.75756 2.93186 3.66473C3.86591 2.57189 5.1282 1.81027 6.53047 1.49344C7.93274 1.17662 9.39985 1.32157 10.713 1.90668" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M14.6667 2.66669L8 9.34002L6 7.34002" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                Theo dõi chi tiết đơn hàng, địa chỉ thanh toán dễ dàng
                            </li>
                            <li>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6663 7.38668V8.00001C14.6655 9.43763 14.2 10.8365 13.3392 11.9879C12.4785 13.1393 11.2685 13.9817 9.88991 14.3893C8.51129 14.7969 7.03785 14.7479 5.68932 14.2497C4.3408 13.7515 3.18944 12.8307 2.40698 11.6247C1.62452 10.4187 1.25287 8.99205 1.34746 7.55755C1.44205 6.12305 1.99781 4.75756 2.93186 3.66473C3.86591 2.57189 5.1282 1.81027 6.53047 1.49344C7.93274 1.17662 9.39985 1.32157 10.713 1.90668" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M14.6667 2.66669L8 9.34002L6 7.34002" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                Nhận nhiều chương trình ưu đãi hấp dẫn từ chúng tôi
                            </li>
                        </ul>
                    </div>

                    <div class="grid-item">
                        <div class="top-title">
                            <div title="Đăng nhập" class="btn-title active">Đăng nhập</div>
                            <div class="btn-title" title="Đăng ký" (click)="Click_dangky()">Đăng ký</div>
                        </div>
                        <form (ngSubmit)="onSubmit()" class="frmLogin" id="frmLogin">
                            <div class="box">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    name="log_email" 
                                    id="log_email" 
                                    placeholder="Email đăng nhập*"
                                    autocomplete="username"
                                    [(ngModel)]="username"
                                />
                            </div>
                            <div class="box">
                                <input 
                                    class="form-control"
                                    name="log_pass"
                                    id="log_pass"
                                    type="password"
                                    placeholder="Mật khẩu*"
                                    autocomplete="current-password"
                                    [(ngModel)]="logPassword"
                                />
                            </div>
                            <div class="box box-right">
                                <a href="#" title="Quên mật khẩu?" class="forgot-password">
                                    Quên mật khẩu?                    
                                </a>
                            </div>
                            <div class="box">
                                <!-- <a href="#" class="submitLogin submit-btn">
                                    Đăng nhập                    
                                </a> -->
                                <button class="submitLogin submit-btn" type="submit">Đăng nhập</button>
                            </div>
                        </form>
                        <div class="wrapper">
                            <span></span>
                            Hoặc đăng nhập bằng<span></span>
                        </div>
                        <a href="#" class="log-google log-social" title="Google Login">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18">
                                    <g transform="translate(0 -64)">
                                        <path d="M81.79,294.078l-8.5-6a.5.5,0,0,0-.577,0l-8.5,6a.5.5,0,0,0-.212.409v.5a.5.5,0,0,0,.5.5h17a.5.5,0,0,0,.5-.5v-.5A.5.5,0,0,0,81.79,294.078Z" transform="translate(-61.001 -213.487)" fill="#cfd8dc"></path>
                                        <path d="M73.289,166.07l-8.5-6a.5.5,0,0,0-.789.409v12a.5.5,0,0,0,.789.409l8.5-6a.5.5,0,0,0,0-.817Z" transform="translate(-61 -91.479)" fill="#fafafa"></path>
                                        <path d="M254.549,160.068a.506.506,0,0,0-.519.035l-8.5,6a.5.5,0,0,0,0,.817l8.5,6a.5.5,0,0,0,.789-.408v-12A.5.5,0,0,0,254.549,160.068Z" transform="translate(-233.819 -91.512)" fill="#eee"></path>
                                        <path d="M62.641,64.344A.5.5,0,0,0,62.166,64h-19a.5.5,0,0,0-.3.9l9.5,7a.5.5,0,0,0,.593,0l9.5-7A.5.5,0,0,0,62.641,64.344Z" transform="translate(-40.666)" fill="#eceff1"></path>
                                        <path d="M21.5,64a.5.5,0,0,0-.3.1L12,70.879,2.8,64.1a.5.5,0,0,0-.3-.1A2.5,2.5,0,0,0,0,66.5v13A2.5,2.5,0,0,0,2.5,82h1a.5.5,0,0,0,.5-.5V69.965l7.711,5.444a.5.5,0,0,0,.577,0L20,69.965V81.5a.5.5,0,0,0,.5.5h1A2.5,2.5,0,0,0,24,79.5v-13A2.5,2.5,0,0,0,21.5,64Z" fill="#f44336"></path>
                                    </g>
                                </svg>
                            </span>
                            Google
                        </a>
                        <a href="#" class="log-facebook log-social" title="Facebook Login">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="11.571" height="22.286" viewBox="0 0 11.571 22.286">
                                    <path d="M12.844-20.411a26.245,26.245,0,0,0-3.054-.161c-3.027,0-5.1,1.848-5.1,5.237v2.92H1.272v3.964H4.688V1.714h4.1V-8.451h3.4l.522-3.964H8.786v-2.531c0-1.138.308-1.929,1.955-1.929h2.1Z" transform="translate(-1.272 20.571)" fill="#1877f2"></path>
                                </svg>
                            </span>
                            Facebook
                        </a>
                        <p class="note">Di Động Thông Minh cam kết bảo mật và sẽ không bao giờ đăng hay chia sẻ thông tin mà chưa có được sự đồng ý của bạn.</p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<app-footer></app-footer>