<app-header></app-header>
<div id="wrapper">
    <div class="container-body">
        <main>
            <div class="grid-members">
                <div class="grid-item">
                    <div class="user-menu-side">
                        <div class="user-name">
                            <div class="name">
                                Xin chào, 
                                <span>phucnguyenks25</span>
                            </div>
                        </div>
                        <ul>
                            <li class="">
                                <div (click)="ThongTinTaiKhoan()">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Thông tin tài khoản        
                                </div>
                            </li>
                            <li class="selected">
                                <div (click)="QuanLyDonHang()">
                                    <i class="fa-brands fa-wpforms"></i>                                    
                                    Quản lý đơn hàng        
                                </div>
                            </li>
                            <li class="">
                                <div (click)="DoiMatKhau()">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Đổi mật khẩu        
                                </div>
                            </li>
                            <li class="" (click)="SoDiaChi()">
                                <div>
                                    <i class="fa-solid fa-address-card"></i>
                                    Sổ địa chỉ        
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                    Đăng xuất        
                                </div>
                            </li>
                        </ul>           
                    </div>
                </div>
                <div class="grid-item">
                    <div class="user-content-side">
                        <h2 class="member-title">Quản lý đơn hàng</h2>
                        <!-- <p>Bạn chưa thực hiện bất kỳ đơn đặt hàng nào trước đó!</p> -->
                        <div class="menutop_time">
                            <p>Từ 24/03/2024 - 24/03/2025</p>
                            <a> <i class="iconoh-filtertime"></i> Thay đổi</a>
                        </div>
                        <div class="filter">
                            <div class="filter-type">
                                <div class="filter-type_scroll">
                                        <a href="javascript:;" data-id="0" class="active" onclick="ClickTabFillter(this)">Tất cả</a>
                                        <a href="javascript:;" data-id="5" class="" onclick="ClickTabFillter(this)">Chờ xử lý</a>
                                        <a href="javascript:;" data-id="6" class="" onclick="ClickTabFillter(this)">Đã xác nhận</a>
                                        <a href="javascript:;" data-id="7" class="" onclick="ClickTabFillter(this)">Đang chuyển hàng</a>
                                        <a href="javascript:;" data-id="8" class="" onclick="ClickTabFillter(this)">Đang giao hàng</a>
                                        <a href="javascript:;" data-id="9" class="" onclick="ClickTabFillter(this)">Đã hủy</a>
                                        <a href="javascript:;" data-id="10" class="" onclick="ClickTabFillter(this)">Thành công</a>
                                </div>
                            </div>
                        </div>
                        <div class="list" id="list_order">
                            <div class="order-item">
                                <div class="item-head ">
                                    <div class="head-info inline">
                                            <div class="order_id">
                                                <b>Đơn hàng:</b>&nbsp;<span>#93633583</span>
                                            </div>
                                            <span class="deliverytime">Giao Trước 18:00 - Thứ Ba (01/04)</span>
                                    </div>
                                        <b class="fail order-status" data-status="Cancel">Đã hủy</b>
                                </div>
                                <div class="item-content">
                                    <div class="content-left">
                                        <a href="#" data-id="93633583" class="thumb-wrapper ordertypeweb_1">
                                        <img class="thumb-main" src="https://cdn.tgdd.vn/Products/Images/42/303833/iphone-15-pro-blue-thumbnew-600x600.jpg">
                                    </a>
                                    </div>
                                    <div class="content-right">
                                        <a href="#" data-id="" class="order_item order-name">Điện thoại iPhone 15 Pro 1TB Blue Titanium</a>
                                        <div class="content-wrapper_right">
                                                    <p class="total-price_wrapper">
                                                        Tổng tiền:
                                                            <span class="total-price">35.490.000₫</span>
                                                    </p>
                                        </div>
                                    </div>
                                </div>
                                    <div class="item-foot">
                                        <div class="link ">
                                            <div style="cursor: pointer;" class="btn-detail" (click)="handelClick()">Xem chi tiết</div>
                                        </div>
                                    </div>
                                </div>
                            <a href="" data-total="72" class="viewmore">Xem thêm 72 đơn hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="alert_modal fade" id="alert_modal">
            <div class="alert_body">
                <div class="alert_message" id="alert_message">
        
                </div>
                <a id="a_message" onclick="close_alert()">Đóng</a>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>