<footer id="footer-content">
    <!-- Phần footer -->
    <div class="container">
        <!--<div class="bottom-nav">-->
        <ul class="bottom-nav">
            <li class="level0 first-item">
                <a href="https://didongthongminh.vn/poco-x4-pro-5g-6gb128gb-chinh-hang" rel="follow"> Poco x4 Pro </a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/iphone-cu-nguyen-ban" rel="follow">iPhone cũ giá rẻ</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/iphone-11-series" rel="follow">iPhone 11 cũ</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/iphone-12-pro-max-256gb-cu-99-dep-nhu-moi" rel="follow">iPhone 12 Pro Max Cũ 256GB </a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/xiaomi-redmi-note-11-pro-8gb-128gb-chinh-hang" rel="follow">Redmi Note 11 Pro</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/iphone-14-series" rel="follow">iPhone 14 chính hãng</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/samsung-galaxy-s22-ultra-8gb-128gb-chinh-hang" rel="follow">Galaxy S22 Ultra</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/ipad-air" rel="follow">iPad Air Siêu Rẻ</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/laptop-lg-gram-2021-16zd90p-gax54a5-16-inch" rel="follow">Laptop LG Gram 2021</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/iphone-13-128gb-chinh-hang-vna" rel="follow">iPhone 13 128GB</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/iphone-12-cu-qua-su-dung" rel="follow">iPhone 12 cũ qua sử dụng</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/ipad-cu-gia-re" rel="follow">iPad cũ</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/co-nen-mua-iphone-12-pro-max" rel="nofollow">Có nên mua iPhone 12 Pro Max 2022</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/iphone" rel="follow">iPhone</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/iphone-14-pro-max-chinh-hang-vna" rel="follow">iPhone 14 Pro Max</a>
            </li>
            <li class="level0menu-item">
                <a href="https://didongthongminh.vn/xiaomi-redmi-note" rel="follow">Xiaomi Redmi Note </a>
            </li>
        </ul>
    </div>

    <div class="ft_container">
        <div class="footer_ct">
            <div class="col-md-3">
                <h3 class="title_item">Thông tin liên hệ</h3>
                <ul>
                    <li>
                        <a href="#">Giới thiệu công ty</a>
                    </li>
                    <li>
                        <a href="#">
                            Hệ thông cửa hàng
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Chính sách bảo mật
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mail: online@dcenter.vn
                        </a>
                    </li>
                </ul>
                <div class="box_hotro">
                    <h3 class="title_item">Hỗ trợ thanh toán</h3>
                    <p class="method_bank">
                        <img src="assets/visa.svg" alt="visa" class="img-responsive" width="54" height="33">
                        <img src="assets/master_card.svg" alt="master card" class="img-responsive" width="54" height="33">
                        <img src="assets/jbc.svg" alt="jbc" class="img-responsive" width="54" height="33">
                        <img src="assets/money.svg" alt="tiền mặt" class="img-responsive" width="54" height="33">
                        <!-- <img src="assets/inter.svg" alt="banking" class="img-responsive" width="54" height="33">
                        <img src="assets/tragop.svg" alt="trả góp" class="img-responsive" width="54" height="33"> -->
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <h3 class="title_item">Thông tin khác</h3>
                <ul>
                    <li>
                        <a href="">
                            Chính sách đổi trả
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Quy chế hoạt động
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Chính sách bảo hành
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Tuyển dụng
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Khách hàng Doanh nghiệp
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Tin tức
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Trade-in thu cũ lên mới
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3 class="title_item">Thông tin hỗ trợ</h3>
                <ul>
                    <li>
                        <a href="">
                            Tuyển dụng
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Mua hàng và thành toán Online
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Mua hàng trả góp Online
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Trung tâm bảo hành chính hãng
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Quy định về việc sao lưu dữ liệu
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Hướng dẫn thanh toán chuyển khoản
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Dịch vụ bảo hành điện thoại
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3 class="title_item">Gọi tư vấn & khiếu nại</h3>
                <ul>
                    
                </ul>
                <p>Gọi mua hàng: 0966 119 995 (8h00 - 21h00)</p>
                <p>Hỗ trợ kỹ thuật:&nbsp;024 39966669 . <br>Zalo:&nbsp;0899976655&nbsp;(9h00 - 19h00)</p>
                <p>Hợp tác kinh doanh:&nbsp;0964 319 518 - <br>Zalo&nbsp;Mr.Linh (9h&nbsp;- 17h)</p>                 
                <div class="box_hotro">
                    <h3 class="title_item">Kết nối với chúng tôi</h3>
                </div>
            </div>
        </div>
     </div>

     <div class="info" >
        <a href="" target="_blank" class="button-link">
            <img src="assets/logoSaleNoti.png" alt="" width="139px" height="53px" class="button-image">
        </a>
     </div>

     <div class="ft_coppyright">
        <div class="container_cp">
            @ Bản quyền thuộc về Công Ty Cổ Phần Viễn Thông Di Động Thông Minh       
        </div>
     </div>


     <div class="social-icons">
        <!-- Facebook Icon -->
        <div class="social-icon facebook">
          <i class="fab fa-facebook-f"></i>
        </div>
        <!-- Instagram Icon -->
        <div class="social-icon instagram" >
          <i class="fab fa-instagram"></i>
        </div>
        <div class="social-icon SMS" >
            <i class="fas fa-comments"></i>
        </div>
      </div>
    
      <!-- Chat Box -->
      <div class="chat-box">
        <div class="chat-header">
          <span>Chat with us!</span>
          <button >X</button>
        </div>
        <div class="chat-body">
          <p>Hi, how can we help you?</p>
        </div>
        <div class="chat-footer">
          <input type="text" placeholder="Type a message...">
          <button>Send</button>
        </div>
      </div>
</footer>