<app-header></app-header>
    <div class="body">
        <div class="container-body">
            <div class="body-404">
                <div class="container container404">
                <h1>404</h1>

                <h2>Không tìm thấy trang !</h2>

                <h3>Rất tiếc ! Chúng tôi không thể tìm thấy trang bạn đang tìm kiếm</h3>

                <div class="link">
                <a href="https://didongthongminh.vn/">Về trang chủ</a>
                </div>
            </div>                            
                </div>
        </div>
    </div>
<app-footer></app-footer>