<app-header></app-header>
<div id="wrapper">
    <div class="container-body">
        <main>
            <div class="grid-members">
                <div class="grid-item">
                    <div class="user-menu-side">
                        <div class="user-name">
                            <!-- <img onerror="this.src='#'" src="#" alt="avatar" class="img-responsive"> -->
                            <div class="name">
                                Xin chào, 
                                <span>phucnguyenks25</span>
                            </div>
                        </div>
                        <ul>
                            <li class="">
                                <div (click)="ThongTinTaiKhoan()">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Thông tin tài khoản        
                                </div>
                            </li>
                            <li class="">
                                <div (click)="QuanLyDonHang()">
                                    <i class="fa-brands fa-wpforms"></i>                                    
                                    Quản lý đơn hàng        
                                </div>
                            </li>
                            <li class="selected">
                                <div (click)="DoiMatKhau()">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Đổi mật khẩu        
                                </div>
                            </li>
                            <li class="" (click)="SoDiaChi()">
                                <div>
                                    <i class="fa-solid fa-address-card"></i>
                                    Sổ địa chỉ        
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                    Đăng xuất        
                                </div>
                            </li>
                        </ul>              
                    </div>
                </div>
                <div class="grid-item">
                    <div class="user-content-side">
                        <h2 class="member-title">Thông tin tài khoản</h2>
                        <form action="" method="post" name="frmUser" id="frmUser" enctype="multipart/form-data">
                            <div class="box-user">
                                <label class="label-input" for="u_name">Mật khẩu cũ</label>
                                <input type="password"class="form-control">
                            </div>
                            <div class="box-user">
                                <label class="label-input" for="u_name">Mật khẩu mới</label>
                                <input type="password"class="form-control">
                            </div>
                            <div class="box-user">
                                <label class="label-input" for="u_name">Nhập lại mật khẩu mới</label>
                                <input type="password"class="form-control">
                            </div>
                            <div class="box-user box-submit">
                                <a href="javascript:void(0)" class="submit-btn" onclick="checkUpdateUser()">Cập nhật</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <div class="alert_modal fade" id="alert_modal">
            <div class="alert_body">
                <div class="alert_message" id="alert_message">
        
                </div>
                <a id="a_message" onclick="close_alert()">Đóng</a>
            </div>
        </div>
    </div>
</div>









<app-footer></app-footer>