#wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-body{
    width: 1200px;
    height: auto;
    padding: 0 10px;
}

.grid-members {
    display: grid;
    grid-template-columns: 1fr 2.4fr;
    grid-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.user-menu-side ul li.selected i {
    color: #FF6700;
}
.user-menu-side ul li:hover div, .user-menu-side ul li.selected div {
    background: #F8F8F8;
    color: #FF6700;
    border-left: 3px solid #FF6700;
    cursor: pointer;
}
.user-menu-side ul div i {
    color: #6D6E70;
    width: 30px;
    font-size: 18px;
    transition: 0.1s ease-in-out;
}
.user-content-side .box-user {
    display: grid;
    grid-template-columns: 160px auto;
    margin-bottom: 20px;
}

.user-content-side .box-user .label-input {
    width: 160px;
    margin-bottom: 0;
    font-size: 16px;
    color: #444444;
    padding-top: 8px;
    font-weight: normal;
}

.user-content-side .box-user input[type=text], .user-content-side .box-user input[type=password] {
    width: 390px;
    height: 40px;
    background: #fff;
    padding: 5px 20px;
    font-size: 16px;
    outline: none;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.user-content-side .box-submit {
    padding-left: 160px;
    display: unset;
}

.user-content-side .box-submit a {
    border-radius: 3px;
    background: #FF6700;
    line-height: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 390px;
    transition: 0.1sease-in-out;
}

.user-menu-side {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.user-menu-side .user-name {
    padding: 20px;
    display: flex;
    align-items: center;
    background: #F9920F;
    color: #fff;
    font-size: 16px;
}

.user-menu-side ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

.user-menu-side ul div {
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: normal;
    transition: 0.1sease-in-out;
}

.user-menu-side ul li:last-child div {
    border-bottom: none;
}

.user-content-side {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
}

.user-content-side .member-title {
    padding-bottom: 8px;
    margin-bottom: 20px;
    color: #444444;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    border-bottom: 1px solid #ddd;
    margin-top: 0;
}

.alert_modal {
    display: none;
    position: fixed;
    width: 100%;
    top: 15%;
    left: 0;
    z-index: 1060;
}

.alert_modal .alert_body {
    background: #fff;
    width: 390px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    font-size: 16px;
    margin-top: 5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
    -webkit-animation: shake-lr 0.7scubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-lr 0.7scubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.alert_modal .alert_body div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAAF40;
    color: #fff;
    font-weight: 700;
    width: 60px;
    margin: auto;
    border-radius: 5px;
    height: 30px;
}

/*  */
.user-content-side .box-user {
    display: grid;
    grid-template-columns: 160px auto;
    margin-bottom: 20px;
}
.user-content-side .box-user .label-input {
    width: 160px;
    margin-bottom: 0;
    font-size: 16px;
    color: #444444;
    padding-top: 8px;
    font-weight: normal;
}
.user-content-side .box-user input[type=text], .user-content-side .box-user input[type=password] {
    width: 390px;
    height: 40px;
    background: #fff;
    padding: 5px 20px;
    font-size: 16px;
    outline: none;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.user-content-side .box-user .select2 {
    width: 390px !important;
    font-size: 16px;
}
.user-content-side .box-user .select2 .select2-selection {
    border: 1px solid #ddd;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.user-content-side .box-user .select2 .select2-selection .select2-selection__rendered {
    line-height: normal;
    padding: 0 20px;
}

.user-content-side .box-user .select2 .select2-selection .select2-selection__arrow {
    top: unset;
    height: auto;
    right: 20px;
    width: auto;
    color: #6D6E70;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}